* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.gitmodules text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.ld text eol=lf
*.md text eol=lf
*.service text eol=lf
*.conf text eol=lf
*.ps1 text eol=crlf
ssh_config.example text eol=lf
REVISION export-subst
