[submodule "firmware/vendor/doom-source"]
	path = firmware/vendor/doom-source
	url = https://github.com/id-Software/DOOM.git
[submodule "firmware/vendor/doomgeneric"]
	path = firmware/vendor/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
[submodule "raspberry/engines/nuked-sc55/vendor/Nuked-SC55"]
	path = raspberry/engines/nuked-sc55/vendor/Nuked-SC55
	url = https://github.com/nukeykt/Nuked-SC55.git
